*{
    box-sizing: border-box;
}


body{
    margin: 0;
}

.link{
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    /* color: white !important; */
    background-color: unset;
    padding: 5px;
    /* margin: 3px; */
    z-index: 3;
}

.link::before{
    transition: all 0.3s linear;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    transform: translateY(-100%);
    z-index: -1;
}

.link:hover::before{
    height: 100%;
    background-color: rgba(255, 0, 0, 0.452);
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 20px 20px 15px;
}

.dor{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.dr{
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.dr::before{
    content: "";
    width: 0%;
    transition: all 0.2s linear;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid var(--first);

}

.dr:hover::before{
    width: 100%;
    
}

header{
    box-sizing: content-box;
    background-image: url(./image/laravel.jpg);
    background-size: cover;
    height: 65vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-bottom: 30px;
    color: white;
    font-family: sans-serif;
}

.pl-img{
    width: clamp(120px, 20vw, 164px);
}

.my-name{
    font-family: 'Cinzel Decorative', cursive;
    font-size: clamp(23px, 3.7vw, 28px);
}

.Specialist{
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(175, 176, 176);
    font-size: clamp(18px, 3vw, 23px);
}

.head-cont{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    text-align: center;
}

main{
    width: 80%;
    margin: auto;
}

.purpose{
    width: 70%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.edu{
    margin-top: 35px;
    margin-bottom: 35px;
}

.edu-head{
    font-size: 30px;
    color: rgb(137, 138, 139);
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 15px;
    background-color: white;
    position: relative;
    margin-bottom: 30px;
}

.edu-head::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid rgb(137, 138, 139);
    width: 100%;
}

.edu-title{
    display: inline-block;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 10px; 
    z-index: 3;
}

.edu-cont{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.card1, .card2{
    box-sizing: content-box;
    width: 275px;
    text-align: center;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    cursor:default;
}

.card1:hover, .card2:hover{
    box-shadow: 1px 1px 30px 1px #a8a8a8;
    }


.certifivate3, .certifivate2, .certifivate1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    padding: 15px;
    cursor:default;
}

.certifivate3:hover, .certifivate2:hover, .certifivate1:hover{
    box-shadow: 1px 1px 30px 1px #a8a8a8;
    background-color: aliceblue;
}

.cer-title{
    text-align: center;
    margin-bottom: 15px
}

.certifivate3 .cer-des, .certifivate2 .cer-des, .certifivate1 .cer-des{
    text-align: center;
    margin-bottom: 25px;
}

.certifivate3 .butt, .certifivate2 .butt, .certifivate1 .butt{
    text-align: center;
    margin: 0;
}

.prjt{
    margin-top: 35px;
    margin-bottom: 35px;
}

.prjt-head{
    font-size: 30px;
    color: rgb(137, 138, 139);
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 15px;
    background-color: white;
    position: relative;
    margin-bottom: 30px;
}

.prjt-head::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid rgb(137, 138, 139);
    width: 100%;
}

.prjt-title{
    display: inline-block;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 10px; 
    z-index: 3;
}

.prjt-cont{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.exp-cont{
    width: 90%;
    margin: auto;
    border: 2px solid rgb(137, 138, 139);
    background-color: rgb(216, 216, 216);
    padding: 30px;
    color: rgb(75, 75, 75);
}

footer{
    background-color: black;
    padding: 50px;
    color: white;
}

.ftr{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ftr a{
    color: white;
}

.ftr > div{
    width: 30%;
    display: inline-block;
}

.ftr h2{
    margin-bottom: 20px;
}

.ftr li{
    margin-bottom: 15px;
}

.ftr i{
    margin-left: 15px;
}

.follow-ico{
    display: flex; justify-content: space-between; width: 35%; font-size: 30px;
}

.image{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

@media screen and (max-width: 1236px){
    main{
        width: 100%;
    }
}

@media screen and (max-width: 996px){
    .edu-cont{
        width: 100%;
    }
}

@media screen and (max-width: 1370.400px){
    /* .my-name{
        font-size: 30px;
    } */

    /* .Specialist{
        font-size: 25px;
    } */

    .purpose{
        padding: 40px;
    }

    /* .pl-img {
        width: 32%;
    } */

    .follow-ico{
        width: 50%;
    }    
}

@media screen and (max-width: 855px) {
    .edu-cont, .prjt-cont{
        flex-direction: column;
        align-items: center;
    }

    .card1, .card2, .certifivate1, .certifivate2, .certifivate3{
        margin-bottom: 20px;
        width: 90%;
    }

    /* .my-name{
        font-size: 20px;
    } */

    /* .Specialist{
        font-size: 18px;
    } */

    .purpose{
        padding: 10px;
        width: 95%;
    }

    .ftr{
        flex-direction: column;
    }

    .ftr > div{
        width: 100%;
        margin-top: 15px;
    }

    /* .pl-img {
        width: 38%;
    } */

    .follow-ico{
        width: 35%;
    }

    .prjt-head{
        margin-bottom: 40px;
    }

    .dor {
        width: 100%;
    }


}


.scrl{
    background-color: white;
    color: black;
}

:root{
    --first: white;
    --rotat: 0deg;
}

.move, .move:hover{
    color: var(--first);
}

.exp1{
    display: flex;
    flex-direction: row;
}

.exp2{
    display: flex;
    flex-direction: row;
}

.exp3{
    display: flex;
    flex-direction: row;
}

.exp-cont li{
    margin-top: 10px;
}

.exp-cont img{
    margin-top: 10px;
}


@media screen and (max-width: 820.400px) {

    .card1, .card2{
        width: 94%;
    }

    main{
        width: 95%;
    }

    footer{
        padding: 15px;
    }

    .prjt-title{
        font-size: 1.7rem;
        width: 243px;
    }

    .exp-cont{
        padding: 10px;
    }

    .exp-cont li{
        margin-top: 10px;
    }

    .exp-cont img{
        width: 36px;
        margin-top: 12px;
    }

    .exp-cont ul{
        padding-left: 15px;
    }

    .exp-cont h3{
        font-size: 21px;
    }

    .edu-head{
        margin: 0 0 50px 0;
        width: 100%;
    }

    .exp-cont{
        width: 100%;
        margin: 0;
    }

    .prjt-head{
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
    }
}

.pop{
    position: fixed;
    background-color: #000000cc;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
    display: none;
}

.inside-pop{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    background-color: rgb(216, 216, 216);
    z-index: 5;
    padding: 20px;
    height: 87%;
    overflow: scroll;
}

.menu{
    display: none;
}

.rrow{
    display: inline-block;
    margin-left: 7px;
    color: var(--first);
    transition: all 0.5s linear;
    transform: rotate(var(--rotat));

}

/**************************************************************/

@media screen and (max-width: 560px) {
    #move1, #move2, #move3, #move4{
        display: none;
    }
}
